.Inspiring_StoriesContainer {
    margin: 25px 25px;
}

.InspiringHeading {
    font-size: 1.3em;
    margin-top: 10px;
}

.InspiringPara {
    font-size: 1em;
    margin-bottom: 10px;
}


.imageContainer {
    display: flex;
    overflow: auto;

}

/* .imageContainer .image_box {

    min-width: 335px;
    max-width: 335px;
    margin-left: 10px;
    margin-right: 10px;
    box-sizing: border-box;
    border: 1px solid black;
    border-radius: 20px;
    box-sizing: border-box;
    padding: 20px;


} */

/* .imageContainer .image_box h3 {
    font-size: 1.1em;
    margin-top: 9px;
    margin-bottom: 9px;
} */

/* .imageContainer .image_box p {
    font-size: .92em;
} */
.imageContainer .image_box {
    margin: 0px 15px;
}

.imageContainer .image_box:first-child {
    margin-left: 0;

}

.imageContainer .image_box:last-child {
    margin-right: 0;

}

.imageContainer .image_box img {

    width: 250px;


}