 .homecontainer {
     padding: 20px 30px 0px 30px;
     background-image: linear-gradient(306deg, #ffc0cb33, rgb(0 0 0 / 10%), #ffc0cb42);

 }

 .homecontainer ul,
 .li_Container {
     display: flex;
 }

 .homecontainer ul {
     justify-content: space-between;
 }

 .homecontainer ul button {
     color: white;
     background: black;
     padding: 9px 12px;
     height: 39px;
     font-weight: bold;
     font-size: .9em;
 }

 .homecontainer ul li {
     list-style-type: none;
     margin-right: 25px;
     font-size: 1.1em;
 }

 .homecontainer ul li:last-child {
     margin-right: 0%;
 }

 .home_second {
     display: flex;
     justify-content: space-between;
     align-items: center;

 }

 .home_left {
     position: relative;
 }

 .home_left>img {
     height: 60vh;
 }

 /* .home_left .Image_intro {
     background-color: white;
     position: absolute;
     bottom: 10%;
     right: 0%;
     display: flex;
     width: 100%;
     justify-content: center;
     align-items: center;
     padding: 10px;

 } */

 .home_right {
     margin-right: 50px;
 }

 .home_right .heading_p {
     font-size: 2.2em;
 }

 .home_right .heading_p>span {
     font-weight: bold;
     color: blue;


 }

 .home_right>button {
     text-align: center;
     margin: 10px auto 4px auto;
     display: block;

     padding: 7px 39px;
     background: black;
     color: white;
     font-size: 1em;
     font-weight: bold;
 }

 .home_right>small {
     font-size: .89em;
 }

 .university {
     background-color: blue;
     color: white;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     text-align: center;
     padding: 9px;
 }

 .university p {
     font-size: 2.2em;
     font-weight: bold;
 }

 .university small {
     font-size: 12px;
 }

 .intro {
     margin-right: 10px;
 }

 /* .intro .summery {
     margin-top: 10px;
     margin-bottom: 10px;
     font-size: 13px;
 } */

 /* .intro .bold {
     font-size: 1.4em;
     font-weight: bold;
 } */

 .gmta {
     color: blue;
 }

 .logo_line>li:first-child {
     color: red;
     margin: 0;
     font-weight: bold;
     font-size: 1.5em;
 }

 .logo_line>li:nth-child(2) {

     margin-top: 4px;
     font-size: bold;
     padding: 3px 0px 5px 0px;
     color: white;
     background-color: blue;
     border-radius: 14px;
     text-align: center;
     font-size: .9em;
 }



 @media screen and (min-width: 0px) and (max-width:930px) {


     .homecontainer ul {
         display: block;
     }

     .logo_line>li:nth-child(2) {
         display: inline-block;
         padding: 3px 20px 5px 20px;
     }

     .homecontainer ul,
     .li_Container {
         margin-top: 10px;
         margin-bottom: 10px;
     }

     .uppersection .box {
         padding: 20px 0px !important;
         border-right: none !important;
     }

     .home_secon {
         flex-direction: column;
         justify-content: center;
     }

     .home_right {
         margin: 20px auto;
     }

     .home_second {
         flex-direction: column;
         align-items: center;
         justify-self: center;
     }


     .secondchild .left {
         width: 40% !important;
         margin-right: 25px !important;
     }


     .fourth_child .left,
     .fourth_child .right {
         width: 40% !important;
     }


     .thirdSession {
         width: 90% !important;

     }


     .plus {
         margin-left: 20px;
     }

     .poster .contentContainer {
         width: 69% !important;
         padding: 10px 14px !important;
         left: 5% !important;
         width: 99%;
     }

     .contentContainer .content button {
         margin-bottom: 1px !important;
     }

     .contentContainer .content h3 {
         margin-bottom: 7px !important;
         font-size: 1.61em !important;
     }

     .contentContainer .content p {
         font-size: .90em !important;

     }

     .seminarDetail {
         flex-direction: column !important;


     }

     .seminarDetail .left,
     .seminarDetail .right {
         max-width: none !important;
         width: 100%;
         box-sizing: border-box;
     }

     .seminarDetail .left {
         margin-bottom: 50px;
         margin-right: 0px !important;

     }

     .seminarDetail .right .box {
         justify-content: space-between;
         margin-bottom: 60px !important;
     }

     .seminarDetail_Container h2 {
         font-size: 2em;
     }

     .seminarDetail .time_btn {
         min-width: 110px !important;
         max-width: 110px !important;
         min-height: 110px !important;
         max-height: 110px !important;
     }

     .seminarDetail .right .headingP {
         font-size: 1.4em !important;
     }

     .sehedulePoster {
         padding: 25px !important;
         margin: 25px 12px !important;
     }

     .sehedulePoster>button {
         padding: 8px !important;
         font-size: 1.2em !important;
     }

     .HumanDetails {
         flex-direction: column;
     }

     .HumanDetails .left {
         width: auto !important;
         margin: auto auto 20px auto !important;
     }

     .footer_Container .table {
         margin-right: 20px !important;
     }

     .footer_Container .table p {
         text-align: center;
         font-size: 1em !important;
     }

     .footer_Container .table:last-child {
         margin-right: 0px !important;

     }

     .footer_Container_Main {
         padding: 20px !important;
         margin: 30px 20px 0px 20px !important;
     }

     .footer_Container .left {
         margin-right: 20px;
     }

     .footer_Container .table .heading {
         font-size: 1.1em !important;
     }


     .footer_Container .email,
     .footer_Container .contact {
         font-size: 1.2em !important;
     }

     .icon_Container p {
         font-size: .8em !important;
     }

     .icon_Container .icon img {
         margin-right: 10px !important;
         width: 15px !important;
     }


 }








 @media screen and (min-width: 0px) and (max-width:600px) {



     .homecontainer {
         padding: 20px 12px 0px 12px;
     }

     .li_Container {
         flex-wrap: wrap;
     }

     .li_Container>li {
         margin: 10px;
     }



     .uppersection {
         flex-direction: column;

     }

     .uppersection .box {
         padding: 13px 10px
     }

     .secondchild .left {
         width: 90% !important;
         margin: auto auto 30px auto !important;


     }

     .secondchild {
         flex-direction: column;
     }

     .thirdchild {
         padding: 13px 20px;
         margin: 25px 15px 20px 15px;
     }

     .fourth_child {
         flex-direction: column;
         justify-self: center;
         align-items: center;

     }

     .fourth_child .left,
     .fourth_child .right {
         width: 80% !important;
         margin: auto !important;
     }

     .fourth_child .left {
         margin-bottom: 20px !important;
     }

     .fivth_child {
         flex-direction: column;
         justify-content: center;
         align-items: center;
         margin-left: auto !important;
         margin-right: auto !important;
     }

     .fivth_child .left {
         padding: 20px 0px 0px 0px !important;
     }

     .home_left>img {
         height: auto !important;
         width: 70vw !important;
     }


     .Inspiring_StoriesContainer {
         margin: 0 15px !important;
     }

     .home_right .heading_p {
         margin: auto 10px !important;
     }

     .secondMain {
         padding: 10px !important;
     }

     .footer_Container {
         align-items: center;
         flex-direction: column;
     }

     .footer_Container .left {
         margin-right: 0;
         margin-bottom: 40px;
     }

     .icon_Container {

         flex-direction: column;
         align-items: center;
     }

     .icon_Container .icon {
         margin-top: 14px;
     }

     .footer_Container_Main {
         padding: 20px 15px !important;
         margin-right: 15px !important;
         margin-left: 15px !important;
     }

     .poster img {
         height: 70vh;
     }

     .poster .contentContainer {
         width: 80% !important;
         padding: 10px !important;
     }

     .posterContainer {
         margin: 25px 15px !important;
     }



     .hostContainer>button {
         font-size: .85em !important;
         padding: 5px !important;
     }

     .seminarDetail .left>p {
         font-size: 1.15em !important;
     }

     .seminarDetail_Container h2 {
         font-size: 1.8em !important;
     }

     .seminarDetail .right .box {
         flex-direction: column-reverse;
     }

     .seminarDetail .time_btn {
         margin: 25px auto auto auto !important;
         min-width: 181px !important;
         max-width: 180px !important;
         min-height: 80px !important;
         max-height: 80px !important;

     }

     .sehedulePoster {
         flex-direction: column;
     }

     .headingMain_Container {
         margin-right: 0 !important;
         width: auto !important;
         margin-bottom: 20px;
     }

     .headingMain_Container .heading {
         font-size: 1.7em !important;
         font-weight: 600 !important;
     }

     .seminarDetail .right .headingP {
         font-size: 1.2em !important;
     }

     .sehedulePoster {
         padding: 20px !important;
     }

     .HumanDetails .left .heading {
         font-size: 2.2em !important;
     }

 }




 @media screen and (min-width: 0px) and (max-width:340px) {


     .home_left>img {
         width: 100% !important;
         height: auto !important;
     }


     .homecontainer {
         padding-bottom: 20px !important;
         font-size: 14px;


     }

     .secondMain {
         font-size: 14px;
     }

     .Inspiring_StoriesContainer {
         font-size: 14px;
     }

     .thirdSession {
         font-size: 13px;
     }

     .secondchild .right {
         padding: 12px 0px !important;
         margin: 0px 10px;
     }

     .secondchild .right img {
         width: 100%;
         height: auto !important;
     }

     .imageContainer {
         flex-direction: column;
         overflow: visible !important;
     }

     .thirdchild {
         padding: 20px 11px !important;
         margin: 25px 0px 20px 0px !important;
     }

     .imageContainer .image_box {

         margin: 0 0 15px 0 !important;
     }

     .imageContainer .image_box img {
         width: 100% !important;
     }


     .poster .contentContainer {
         width: 100% !important;
         padding: 7px !important;
         left: 0% !important;
     }

     .contentContainer .content {
         font-size: 14.5px;
     }

     .hostContainer {
         flex-direction: column;
     }

     .smallImageContainer {
         margin-bottom: 17px;
     }

     .seminarDetail .time_btn {
         min-width: 100% !important;
         max-width: none !important;
         min-height: none !important;
         max-height: none !important;
     }

     .seminarDetail_Container {
         font-size: 15px;
         padding: 5px !important;
     }


     .sehedulePoster {
         font-size: 14px;
         padding: 13px !important;

     }

     .HumanDetails {
         margin: 25px 12px !important;
         font-size: 14px;

     }

     .HumanDetails .right .box {
         margin: 0 !important;
         padding: 5px !important;
         width: 100% !important;
     }

     .HumanDetails .right .box:nth-child(2) {
         margin-top: 20px !important;
         margin-bottom: 20px !important;
     }


     .icon_Container p {
         font-size: .9em !important;
     }

     .footer_Container .table {
         margin-right: 11px !important;
     }

     .footer_Container_Main {
         font-size: 11px;
         padding: 20px 10px !important;
         margin-right: 4px !important;
         margin-left: 4px !important;
     }
 }